<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Ekart Store</span>
    <span class="example-spacer"></span>
    <a routerLink="/products"><button mat-raised-button color="">Products</button></a>&nbsp;
    <a routerLink="/logIn"><button mat-raised-button color="warn">LogIn</button></a>&nbsp;
    <a routerLink="/signUp"><button mat-raised-button color="warn">SignUp</button></a>&nbsp;
    <a routerLink="/cart"><button mat-raised-button color="warn">Cart</button></a>&nbsp;

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>


<router-outlet></router-outlet>
